## Data Cleaning

In [1]:
import pandas as pd
import glob

In [2]:
# Write a function to read all files in the path are csv file
def get_dataframe(path):
    all_files = glob.glob(path + "/*.csv")    # Create a list contains all file names
    li = []
    for filename in all_files:   # Read file names from the list, add files to new list
        df = pd.read_csv(filename, index_col=None, header=0)
        li.append(df)
    frame = pd.concat(li, axis=0, ignore_index=True)  # concatenant all files
    return frame

In [3]:
# Read files
df = get_dataframe('data')

/Users/jiachengxu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
df.head()

,OBJECTID,TICKET_NUMBER,VIOLATION_TYPE_DESC,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,60327097,260055165.0,P,2017/09/05 04:00:00+00,11:30:00,80.0,AMTRAK,AMTRK,P170,FAILURE TO DISPLAY CURRENT TAGS,...,NaN,NaN,NaN,NaN,399661.0,137013.0,38.901,-77.004,81638.0,2019/05/29 04:16:08+00
1,60345241,260925825.0,P,2017/09/26 04:00:00+00,10:35:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,...,NaN,1.0,NaN,NaN,401049.0,130794.0,38.845,-76.988,294864.0,2019/05/29 04:16:08+00
2,60345242,260925836.0,P,2017/09/26 04:00:00+00,11:35:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,...,NaN,1.0,NaN,NaN,401049.0,130794.0,38.845,-76.988,294864.0,2019/05/29 04:16:08+00
3,60345243,260925840.0,P,2017/09/26 04:00:00+00,11:40:00,57.0,METRO POLICE,MTP,P170,FAILURE TO DISPLAY CURRENT TAGS,...,NaN,4.0,NaN,NaN,401049.0,130794.0,38.845,-76.988,294864.0,2019/05/29 04:16:08+00
4,60345244,260925851.0,P,2017/09/26 04:00:00+00,11:41:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,...,NaN,NaN,NaN,NaN,401049.0,130794.0,38.845,-76.988,294864.0,2019/05/29 04:16:08+00

In [5]:
df.columns

Index(['OBJECTID', 'TICKET_NUMBER', 'VIOLATION_TYPE_DESC', 'ISSUE_DATE',
       'ISSUE_TIME', 'ISSUING_AGENCY_CODE', 'ISSUING_AGENCY_NAME',
       'ISSUING_AGENCY_SHORT', 'VIOLATION_CODE', 'VIOLATION_PROC_DESC',
       'LOCATION', 'PLATE_STATE', 'VEHICLE_TYPE', 'MULTI_OWNER_NUMBER',
       'DISPOSITION_CODE', 'DISPOSITION_TYPE', 'DISPOSITION_DESC',
       'DISPOSITION_DATE', 'FINE_AMOUNT', 'TOTAL_PAID', 'PENALTY_1',
       'PENALTY_2', 'PENALTY_3', 'PENALTY_4', 'PENALTY_5', 'XCOORD', 'YCOORD',
       'LATITUDE', 'LONGITUDE', 'MAR_ID', 'GIS_LAST_MOD_DTTM'],
      dtype='object')

In [6]:
df['VIOLATION_PROC_DESC']

0                      FAILURE TO DISPLAY CURRENT TAGS
1                                PARK AT EXPIRED METER
2                                PARK AT EXPIRED METER
3                      FAILURE TO DISPLAY CURRENT TAGS
4                                PARK AT EXPIRED METER
                              ...
684103    NO STOPPING OR STANDING IN PM RUSH HOUR ZONE
684104                 FAILURE TO DISPLAY CURRENT TAGS
684105    NO STOPPING OR STANDING IN PM RUSH HOUR ZONE
684106    NO STOPPING OR STANDING IN PM RUSH HOUR ZONE
684107    NO STOPPING OR STANDING IN PM RUSH HOUR ZONE
Name: VIOLATION_PROC_DESC, Length: 684108, dtype: object

In [7]:
df.isnull().sum()

OBJECTID                     0
TICKET_NUMBER           240977
VIOLATION_TYPE_DESC     240977
ISSUE_DATE                   0
ISSUE_TIME                 456
ISSUING_AGENCY_CODE         35
ISSUING_AGENCY_NAME         35
ISSUING_AGENCY_SHORT        35
VIOLATION_CODE               0
VIOLATION_PROC_DESC      20590
LOCATION                   113
PLATE_STATE                  0
VEHICLE_TYPE            684107
MULTI_OWNER_NUMBER      649125
DISPOSITION_CODE        396425
DISPOSITION_TYPE             0
DISPOSITION_DESC        396425
DISPOSITION_DATE        396425
FINE_AMOUNT              21312
TOTAL_PAID                   0
PENALTY_1               415045
PENALTY_2               684108
PENALTY_3               551436
PENALTY_4               683957
PENALTY_5               684108
XCOORD                   20892
YCOORD                   20892
LATITUDE                 20892
LONGITUDE                20892
MAR_ID                   20892
GIS_LAST_MOD_DTTM            0
dtype: int64

In [8]:
df.shape

(684108, 31)

In [9]:
#columns with >80% nulls
df.drop(columns=['DISPOSITION_CODE','DISPOSITION_DATE','PENALTY_1', 'TICKET_NUMBER',
                'VIOLATION_TYPE_DESC','PENALTY_2','PENALTY_3','PENALTY_4','PENALTY_5',
                'GIS_LAST_MOD_DTTM','VEHICLE_TYPE','PLATE_STATE','MULTI_OWNER_NUMBER','DISPOSITION_DESC'],inplace=True)

In [10]:
df.head()

,OBJECTID,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,LOCATION,DISPOSITION_TYPE,FINE_AMOUNT,TOTAL_PAID,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID
0,60327097,2017/09/05 04:00:00+00,11:30:00,80.0,AMTRAK,AMTRK,P170,FAILURE TO DISPLAY CURRENT TAGS,900 2ND ST NE,Dismissed,100.0,0,399661.0,137013.0,38.901,-77.004,81638.0
1,60345241,2017/09/26 04:00:00+00,10:35:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,1290 ALBAMA AVE SE,Liable - System,25.0,60,401049.0,130794.0,38.845,-76.988,294864.0
2,60345242,2017/09/26 04:00:00+00,11:35:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,1290 ALABAMA AV SE,Liable - System,25.0,60,401049.0,130794.0,38.845,-76.988,294864.0
3,60345243,2017/09/26 04:00:00+00,11:40:00,57.0,METRO POLICE,MTP,P170,FAILURE TO DISPLAY CURRENT TAGS,1290 ALABAMA AV SE,Liable - System,100.0,240,401049.0,130794.0,38.845,-76.988,294864.0
4,60345244,2017/09/26 04:00:00+00,11:41:00,57.0,METRO POLICE,MTP,P039,PARK AT EXPIRED METER,1290 ALABAMA AV SE,Other,25.0,25,401049.0,130794.0,38.845,-76.988,294864.0

In [11]:
#lowercase column names
df.columns = map(str.lower, df.columns)

In [12]:
# drop issue_time nulls
df = df[df['issue_time'].notna()]
# drop issue_time rows that don't have proper format
df = df[df['issue_time'].str.len()==8]

In [13]:
#remove characters after space in issue date
df['issue_date'] = df['issue_date'].str.split().str[0]
df['issue_date'].head()

0    2017/09/05
1    2017/09/26
2    2017/09/26
3    2017/09/26
4    2017/09/26
Name: issue_date, dtype: object

In [14]:
#create new column date plus time
df['issue_datetime']= df['issue_date']+' '+df['issue_time']
df['issue_datetime'].head(2)

0    2017/09/05 11:30:00
1    2017/09/26 10:35:00
Name: issue_datetime, dtype: object

In [15]:
df.violation_code[:3]

0    P170
1    P039
2    P039
Name: violation_code, dtype: object

In [16]:
#convert to date time format
df['issue_datetime'] = df['issue_datetime'].astype('datetime64[ns]')
df['issue_datetime'].head(1)

0   2017-09-05 11:30:00
Name: issue_datetime, dtype: datetime64[ns]

In [17]:
df.dtypes

objectid                         int64
issue_date                      object
issue_time                      object
issuing_agency_code            float64
issuing_agency_name             object
issuing_agency_short            object
violation_code                  object
violation_proc_desc             object
location                        object
disposition_type                object
fine_amount                    float64
total_paid                       int64
xcoord                         float64
ycoord                         float64
latitude                       float64
longitude                      float64
mar_id                         float64
issue_datetime          datetime64[ns]
dtype: object

In [18]:
#add columns for year, month, date, dayofweek, hour, minute
df['year'] = df['issue_datetime'].dt.year
df['month'] = df['issue_datetime'].dt.month
df['date'] = df['issue_datetime'].dt.day
df['day'] = df['issue_datetime'].dt.dayofweek
df['hour'] = df['issue_datetime'].dt.hour
df['minute'] = df['issue_datetime'].dt.minute

In [19]:
#drop unused columns
df.drop(columns=['issue_date','issue_time','issue_datetime'],inplace=True)

In [20]:
# dropping rows with NaN values in these columns
df.dropna(axis=0, subset=['xcoord','ycoord','latitude','longitude','mar_id','violation_proc_desc','fine_amount'], inplace=True)
# Dropping mar_id column
df.drop(columns=['mar_id'],inplace=True)

In [21]:
df.isnull().sum()

objectid                0
issuing_agency_code     0
issuing_agency_name     0
issuing_agency_short    0
violation_code          0
violation_proc_desc     0
location                0
disposition_type        0
fine_amount             0
total_paid              0
xcoord                  0
ycoord                  0
latitude                0
longitude               0
year                    0
month                   0
date                    0
day                     0
hour                    0
minute                  0
dtype: int64

In [22]:
df.shape

(642491, 20)

In [23]:
df.to_csv('parking-17.csv',index=False)